## Introduction to NumPy

In [1]:
import numpy as np

In [2]:
# 1-d array

array = np.array([1, 3, 5])
array

array([1, 3, 5])

In [3]:
# 2-d array
array = np.array([[2, 4, 6], [1, 3, 5]])
array

array([[2, 4, 6],
       [1, 3, 5]])

In [5]:
# 3x3 array with random floats from 0 to 1
np.random.rand(3,3)

array([[0.63819806, 0.58149529, 0.21751574],
       [0.61044295, 0.80838396, 0.27537128],
       [0.3049358 , 0.57014047, 0.22055008]])

In [7]:
# 4x5 array with all the number "5"
np.full((4,5), 5)

array([[5, 5, 5, 5, 5],
       [5, 5, 5, 5, 5],
       [5, 5, 5, 5, 5],
       [5, 5, 5, 5, 5]])

In [9]:
# 2x4 array with only "1"
np.ones((2, 4))

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [10]:
# a sqeuence from 0 to 4
np.arange(0,5)

array([0, 1, 2, 3, 4])

In [11]:
# a sequence from 0 to 28 with steps of 3
np.arange(0, 28, 3)

array([ 0,  3,  6,  9, 12, 15, 18, 21, 24, 27])

In [15]:
# reshape array from 3x4 to 6x2
## reshaped array must be of the same size
array = np.ones((3,4))
array = array.reshape((6,2))
array

array([[1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.]])